@model Faslink.Models.Database.DiaChiThuongTru
@{
    ViewBag.Title = "ThemNhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.error
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Thêm nhân viên
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/Home/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Nhân sự
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Thêm nhân viên
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <strong>
                    Chúc mừng!
                </strong>
                Bạn đã thêm thành công nhân viên
            </div>
            <div class="m-alert m-alert--outline alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <strong>
                    Cảnh báo!
                </strong>
                Vui lòng kiểm tra lại thông tin.
            </div>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row ">
        <div class="col-sm-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Thông tin nhân viên
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-form">
                    @using (Html.BeginForm())
                    {
                        @*<form class="m-form">*@
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group">
                                    <label for="example_input_full_name">
                                        Mã nhân viên
                                    </label>
                                    <input name="idNhanVien" required class="form-control m-input" style="width:110px" onkeypress="return isNumberKey(event)">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Họ và Tên
                                    </label>
                                    <input name="hoTen" required class="form-control m-input" placeholder="Nhập họ và tên" type="text" />
                                </div>
                                @*Đây là giới tính*@
                                @Html.Partial("GioiTinhPartialView")
                                <div class="form-group m-form__group">
                                    <label>
                                        Nơi sinh
                                    </label>
                                    <textarea name="noiSinh" required class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập số nhà,tên đường"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Ngày vào
                                    </label>
                                    <input name="ngayVao" required type="text" class="form-control" id="m_datepicker_1" style="width:135px" placeholder="Chọn ngày" />

                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Ngày sinh
                                    </label>
                                    <input name="ngaySinh" required type="text" class="form-control" id="m_datepicker_1" style="width:135px" readonly placeholder="Chọn ngày" />
                                </div>
                                @Html.Partial("TinhTrangHonNhanPartialView")
                                <div class="form-group m-form__group">
                                    <label>
                                        Ðiện thoại
                                    </label>
                                    <input name="dienThoai" required onkeypress="return phonenumber(event)" class="form-control m-input" style="width:150px" placeholder="Nhập số điện thọai">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Ðiện thoại nguời thân
                                    </label>
                                    <input name="dienThoaiNguoiThan" required onkeypress="return phonenumber(event)" class="form-control m-input" style="width:150px" placeholder="Nhập số điện thọai" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Email công ty
                                    </label>
                                    <input name="emailCTy" required class="form-control m-input " placeholder="Nhập email công ty" type="email">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Email cá nhân
                                    </label>
                                    <input name="emailCaNhan" required class="form-control m-input " placeholder="Nhập email cá nhân" type="email">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Hình ảnh
                                    </label>
                                    <div class="custom-file">
                                        <input name="hinh" class="custom-file-input" id="customFile" type="file">
                                        <label class="custom-file-label" for="customFile">
                                            Chọn file
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Tôn giáo
                                    </label>
                                    <input name="tonGiao" class="form-control m-input chieucao" placeholder="Tôn giáo" type="text" />
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Quốc tịch
                                    </label>
                                    <input name="quocTich" class="form-control m-input chieucao" placeholder="Quốc tịch" type="text" />
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Dân tộc
                                    </label>
                                    <input name="danToc" class="form-control m-input chieucao" placeholder="" Dân tộc" type="text" />
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Số nguời phụ thuộc
                                    </label>
                                    <input name="soNguoiPhuThuoc" class="form-control m-input chieucao" style="width:123px" placeholder="Nhập số nguời" onkeypress="return isNumberKey(event)">
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Chứng minh Nhân dân
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group">
                                    <label for="example_input_full_name">
                                        Số chứng Minh nhân Dân
                                    </label>
                                    <input name="soCMND" class="form-control m-input" onkeypress="return isNumberKey(event)" style="width:150px" placeholder="Nhập số CMND">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Nơi cấp
                                    </label>
                                    <textarea name="noiCap" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập nơi cấp"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Ngày cấp
                                    </label>
                                    <input name="ngayCap" type="text" class="form-control" id="m_datepicker_1" style="width:135px" readonly placeholder="Chọn ngày" />
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Nguyên quán
                                    </label>
                                    <textarea name="nguyenQuan" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập nguyên quán"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Công việc
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group">
                                    <label>
                                        Mã vân tay
                                    </label>
                                    <input name="mvt" class="form-control m-input" style="width:110px" onkeypress="return isNumberKey(event)">
                                </div>
                                @Html.Partial("BoPhanPartialView")
                                <div class="form-group m-form__group">
                                    <label>
                                        Ka
                                    </label>
                                    <input name="ka" class="form-control m-input chieucao" placeholder="Nhập ka làm việc" type="text">
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Tổ
                                    </label>
                                    <input name="toLamViec" class="form-control m-input chieucao" type="text" placeholder="Nhập tổ làm việc" />
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Nguời giới thiệu
                                    </label>
                                    <input name="nguoiGioiThieu" class="form-control m-input chieucao" type="text" placeholder="Nhập nguời giới thiệu" />
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Trình độ
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group">
                                    <label>
                                        Học vấn
                                    </label>
                                    <textarea name="hocVan" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập vào học vấn"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Truờng học
                                    </label>
                                    <textarea name="truongHoc" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập vào truờng học"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Chuyên môn
                                    </label>
                                    <textarea name="chuyenMon" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập vào chuyên môn"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Ngoại ngữ
                                    </label>
                                    <textarea name="ngoaiNgu" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập vào ngoại ngữ"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <label>
                                        Vi tính
                                    </label>
                                    <textarea name="viTinh" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập vào vi tính"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Ðịa chỉ thuờng trú
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group">
                                    <label>
                                        Số nhà, tên đuờng
                                    </label>
                                    <textarea name="soNhaDuong" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập số nhà,tên đường"></textarea>
                                </div>
                                <div class="form-group m-form__group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.IdTinh_TP)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.DropDownList("idTinh_TP", new SelectList(new string[] { }), new { @id = "ddlTinh", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.IdQuan_Huyen)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.DropDownList("idQuan_Huyen", new SelectList(new string[] { }), new { @id = "ddlQuan", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Ðịa chỉ liên lạc
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group">
                                    <label>
                                        Số nhà,tên đuờng
                                    </label>
                                    <textarea name="soNhaDuongTamTru" class="form-control m-input m-input--solid" id="exampleTextarea" rows="1" placeholder="nhập số nhà,tên đường"></textarea>
                                </div>
                                @Html.Partial("DiaChiTamTruPartialView")
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <button type="submit" class="btn btn-primary">
                                    Lưu
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    Hủy
                                </button>
                            </div>
                        </div>
                        @*</form>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>
